

<div>
    <p>@Html.ActionLink("Înregistrarea nașteri", "InregistrareNasteri", "Documente",null, new { @id = "white" }) </p>
    <p>@Html.ActionLink("Înregistrarea casătoriei", "InregistrareCasatorie", "Documente", null, new { @id = "white" }) </p>
    <p>@Html.ActionLink("Înregistrarea decesului", "InregistrareDeces", "Documente", null, new { @id = "white" }) </p>
    <p>@Html.ActionLink("Eliberarea / Preschimbarea certificatelor de stare civila", "EliberareCertificateStareCivila", "Documente", null, new { @id = "white" }) </p>
    <p>@Html.ActionLink("Divort pe cale administrativa", "Divort", "Documente", null, new { @id = "white" }) </p>
    <p>@Html.ActionLink("Livretul familiei", "LivretulFamiliei", "Documente", null, new { @id = "white" }) </p>
</div>
